@include media-breakpoint-down(md) {
  :root {
    --bs-body-font-size: .875rem;

    .container {
      --bs-gutter-x: 1.5rem;
    }
  }

  $font-size-adaptive: (
    1: 1.75rem,
    2: 1.3rem,
    5: 1.4rem,
    6: 1rem
  );

@each $index,
$font-size in $font-size-adaptive {
  h#{$index} {
    @include font-size(#{$font-size});
  }

}

}
