$black: #132141;
$gray-100: #F3F6FA;
$blue: #0E4ACD;
$green: #10BD99;

$colors: (
  "black": $black,
  "blue": $blue,
  "green": $green,
);

$grays: (
  "100": $gray-100,
);

$primary: $blue;
$success: $green;
$light: $gray-100;

$theme-colors: (
  "primary": $primary,
  "success": $success,
  "light": $light,
);

$grid-breakpoints: (
  xs: 0,
  sm: 360px,
  md: 1020px,
);

$container-max-widths: (
  sm: 360px,
  md: 1020px,
);

$grid-gutter-width: .625rem;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .5,
  2: $spacer,
  3: $spacer * 1.25,
  4: $spacer * 1.5,
  5: $spacer * 1.75,
  6: $spacer * 2.5,
  7: $spacer * 4,
  8: $spacer * 5,
);

$font-family-sans-serif: 'Golos Text',
  sans-serif;

$body-color: $black;

$link-color: $success;

$enable-rfs: false;

$h1-font-size: 3.5rem;
$h2-font-size: 2.75rem;
$h6-font-size: 1.125rem;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  6: $h6-font-size
);

$font-weight-bold: 700;
$headings-font-weight: $font-weight-bold;

$border-radius: .5rem;
$border-radius-sm: .5rem;
$border-radius-lg: .5rem;
$border-radius-lg: .5rem;
$border-radius-md: .5rem;
$border-radius-2xl: .5rem;

$btn-border-radius: $border-radius;
