@import "../node_modules/bootstrap/scss/variables";

$black: #132141;
$light: #F3F6FA;
$primary: #0E4ACD;
$secondary: #10BD99;

$theme-colors: (
  "black": $black,
  "light": $light,
  "primary": $primary,
  "secondary": $secondary,
);

$container-max-widths: (
  xs: 360px,
  xl: 1020px,
);

$spacer: 2rem;
$spacers: (
  0: 0,
  1: $spacer * .75,
  2: $spacer * .875,
  3: $spacer,
  4: $spacer * 1.125,
  5: $spacer * 1.25,
);

$container-padding-x: .625rem;

$font-family-sans-serif: 'Golos Text',
  sans-serif;

$body-color: $black;

$link-color: $secondary;

// $h1-font-size: 3.5rem;

$headings-font-weight: $font-weight-bold;

$border-radius: .5rem;
